/* 달력 틀 */
.react-calendar {
  border-radius: 0.5rem;
  border: 1px solid #c8c8c8;
}

/* 달력 상단 년,월 */
.react-calendar__navigation__label > span {
  color: var(--gray5);
  font-family: 'Noto Sans KR';
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

/* 오늘날짜 하이라이트 */
.react-calendar__tile--now {
  background: rgb(255, 233, 233);
  color: var(--gray5);
}

/* 오늘날짜 hover */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--point1);
  color: (--wh);
}

/* 클릭한 날짜 */
.react-calendar__tile--active {
  background: var(--point1);
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--point1);
}
