.subRank h2 {
  margin-bottom: 100px;
}

.subRank nav > ul {
  display: flex;
  margin-bottom: 70px;
}
.subRank nav > ul > li {
  width: calc(100% / 6);
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray4);
  border: 1px solid var(--gray3);
  cursor: pointer;
}
.subRank nav > ul > li.on {
  color: var(--wh);
  background-color: var(--point1);
  border-color: var(--point1);
}

.subRank .btns {
  display: flex;
  justify-content: flex-end;
}
.subRank .btns button {
  padding: 1rem 2rem;
  font-size: 0.9em;
  position: relative;
}
.subRank .btns button:hover {
  font-weight: 600;
}
.subRank .btns button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 1.5px;
  background-color: var(--point1);
  display: none;
}
.subRank .btns button.on {
  color: var(--point1);
  font-weight: bold;
}
.subRank .btns button.on::before {
  display: block;
}
.subRank .rankCon {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.subRank .rankCon li {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray3);
  cursor: pointer;
}
.subRank strong,
.subRank .num,
.subRank .place,
.subRank .date {
  white-space: wrap;
  padding: 0 2rem;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--gray4);
}

.subRank .num {
  width: 7%;
  font-weight: bold;
  color: var(--gray5);
  text-align: center;
}
.subRank strong {
  width: 43%;
  color: var(--gray5);
}
.subRank .place {
  width: 20%;
  font-size: 1.8rem;
}
.subRank .date {
  width: 20%;
  font-size: 1.8rem;
}
.subRank .imgCon {
  position: relative;
  width: 10%;
  padding-top: 150px;
  border: 1px solid var(--gray2);
}
.subRank .imgCon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subRank .rankCon li:nth-of-type(1),
.subRank .rankCon li:nth-of-type(2),
.subRank .rankCon li:nth-of-type(3) {
  width: calc(100% / 3 - 1rem);
  height: 550px;
  background-color: var(--gray1);
  border: none;
  flex-direction: column;
  position: relative;
}
.subRank .rankCon li:nth-of-type(1) .imgCon,
.subRank .rankCon li:nth-of-type(2) .imgCon,
.subRank .rankCon li:nth-of-type(3) .imgCon {
  width: 80%;
  padding-top: 380px;
  margin-top: 15px;
}

.subRank .rankCon li:nth-of-type(1) strong,
.subRank .rankCon li:nth-of-type(1) .num,
.subRank .rankCon li:nth-of-type(1) .place,
.subRank .rankCon li:nth-of-type(1) .date,
.subRank .rankCon li:nth-of-type(2) strong,
.subRank .rankCon li:nth-of-type(2) .num,
.subRank .rankCon li:nth-of-type(2) .place,
.subRank .rankCon li:nth-of-type(2) .date,
.subRank .rankCon li:nth-of-type(3) strong,
.subRank .rankCon li:nth-of-type(3) .num,
.subRank .rankCon li:nth-of-type(3) .place,
.subRank .rankCon li:nth-of-type(3) .date {
  width: 80%;
  padding: 0.5rem 2rem;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.subRank .rankCon li:nth-of-type(1) strong,
.subRank .rankCon li:nth-of-type(2) strong,
.subRank .rankCon li:nth-of-type(3) strong {
  font-weight: 600;
  padding-top: 2.5rem;
}
.subRank .rankCon li:nth-of-type(1) .num,
.subRank .rankCon li:nth-of-type(2) .num,
.subRank .rankCon li:nth-of-type(3) .num {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 55px;
  height: 55px;
  background-color: var(--point1);
  color: var(--wh);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.subRank .rankCon li:nth-of-type(1) .place,
.subRank .rankCon li:nth-of-type(1) .date,
.subRank .rankCon li:nth-of-type(2) .place,
.subRank .rankCon li:nth-of-type(2) .date,
.subRank .rankCon li:nth-of-type(3) .place,
.subRank .rankCon li:nth-of-type(3) .date {
  font-size: 1.5rem;
}
