.subAni h2 {
  margin-bottom: 100px;
}
.subAni .dateCon {
  position: relative;
}

.subAni .btns {
  display: flex;
  justify-content: flex-end;
}
.subAni .btns button {
  padding: 1rem 2rem;
  font-size: 0.9em;
  position: relative;
}
.subAni .btns button:hover {
  font-weight: 600;
}
.subAni .btns button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 1.5px;
  background-color: var(--point1);
  display: none;
}
.subAni .btns button.on {
  color: var(--point1);
  font-weight: bold;
}

.subAni .btns button.on::before {
  display: block;
}
